// default styles
@import "./login.scss";
@import "./otpCheck.scss";
@import "./signup.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headerMain {
  position: fixed;
  top: 0;
  left: 0;
  height: 7vh;
  background-color: blue;
  width: 100%;
  color: white;
}

.sidebarHelp {
  position: fixed;
  left: 0;
  top: 7vh;
  width: 250px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
  }

  .container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
      padding: 1rem;
    }

    ul {
      li {
        &:hover {
          background-color: #e5e5e5;
        }
      }
    }
  }
}

.helpContent {
  position: fixed;
  left: 300px;
  overflow-y: scroll;
}

.sideBarMain {
  position: fixed;
  left: 0;
  top: 7vh;
  height: 100%;
  background-color: #14181f;
  color: #fff;

  // width: 10vh;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: #525252 1px solid;
    padding: 1rem;
    cursor: pointer;
    padding: 14px 15px;
    height: 60px;
    border-bottom: #525252 1px solid;
  }
  .selected {
    border-left: 4px #48a2df solid;
  }

  i {
    font-size: 2.5rem;
  }
}

.content {
  position: fixed;
  top: 7vh;
  left: 10vh;
}

@import "./media.scss";
