// default styles
@import "./login.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

.headerMain {
  position: fixed;
  top: 0;
  left: 0;
  height: 7vh;
  background-color: blue;
  width: 100%;
  color: white;
}

.sideBarMain {
  position: fixed;
  left: 0;
  top: 7vh;
  height: 100%;
  background-color: #14181f;
  color: #fff;
  width: 10vh;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 0.5px white solid;
    padding: 1rem;
    cursor: pointer;
  }
  .selected {
    border-left: 4px #48a2df solid;
  }

  i {
    font-size: 2.5rem;
  }
}

.content {
  position: fixed;
  top: 7vh;
  left: 10vh;
}

@import "./media.scss";
